{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "extends": [
    "eslint:recommended"
  ],
  "rules": {
    "quotes": [1, "double"],
    "eqeqeq": 2,
    "comma-dangle": [2, "always-multiline"]
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "globals": {
    "browser": true,
    "marked": false
  }
}
