/*BEM is used for classes*/
/*https://en.bem.info/methodology/quick-start/*/

:root {
  --border-radius: 20px;
  --small-border-radius: 12px;
  --background-color: #ebf2fa;
  --common-margin: 5px;
}

body {
  padding-top: 1.5em;
}

input[type="text"] {
  background: #FDFEFF 0% 0% no-repeat padding-box;
  border: 1px solid #7E97B84D;
  border-radius: var(--small-border-radius);
  width: 100%;
  padding: 10px;
}
