/*BEM is used for classes*/
/*https://en.bem.info/methodology/quick-start/*/

:root {
  --border-radius: 20px;
  --small-border-radius: 12px;
  --background-color: #ebf2fa;
  --common-margin: 5px;
  --page-margin: 10px;
  --link-color: #599dd9;
}

body {
  padding-top: 1.5em;
}

input[type="text"] {
  background: #FDFEFF 0% 0% no-repeat padding-box;
  border: 1px solid #7E97B84D;
  border-radius: var(--small-border-radius);
  width: 100%;
  padding: 10px;
}

.tab-container__content {
  display: flex;
  flex-direction: column;
}

#tab-content__containers{
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: baseline;
}

.header {
    letter-spacing: 0.2px;
    color: #7E97B8;
    text-transform: uppercase;
    font-weight: bold;

    position: relative;
}

.pref-doc {
  --size: 15px;
  position: absolute;
  right: 10px;
  top: 5px;
  width: var(--size);
  height: var(--size);
  line-height: var(--size);
  font-size: var(--size);
  text-align: center;
  color: var(--link-color);
}

.button {
    --horizontal-padding: 0.5em;

    position: relative;
    padding-left: var(--horizontal-padding);
    padding-right: var(--horizontal-padding);

    background: #ebf2fa 0% 0% no-repeat padding-box;
    box-shadow: 4px 2px 16px #5f9de77a;
    border: 2px solid #ffffff4d;
    border-radius: var(--small-border-radius);
    text-align: center;
}

.button:hover {
  border-color: #5f9de77a;
}

.button:active {
  background: transparent linear-gradient(133deg, #6d7477 0%, #b6c7db 100%) 0% 0% no-repeat;
  border-color: #16b1ff;
  color: white;
}
