body {
  --border-radius: 20px;
  --small-border-radius: 12px;
  --background-color: #ebf2fa;

  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background: var(--background-color) 0% 0% no-repeat padding-box;

  display: flex;
  flex-direction: column;

}

.toggle-preference {
  display: flex;
  justify-content: flex-start;
}

.toggle-container {
  background: #e5edf5 0% 0% no-repeat padding-box;
  box-shadow: 4px 2px 16px #5f9de77a;
  border: 2px solid #ffffff33;
  border-radius: 16px;
}

tab-content[tab-title="Preferences"] > div {
  display: flex;
}

.toggle {
  position: relative;
  width: 80px;

  background: #ebf2fa 0% 0% no-repeat padding-box;
  box-shadow: 4px 2px 16px #5f9de77a;
  border: 2px solid #ffffff4d;
  border-radius: var(--small-border-radius);

  .toggle__indicator {
    position: relative;
    width: 32px;
    height: 30px;

    background: #ebf2fa 0% 0% no-repeat;
    box-shadow: 4px 2px 8px #5f9de7a8;
    border: 4px solid #ffffff4d;
    border-radius: var(--small-border-radius);

    /* Animations */
    transition-property: margin-left, background-color;
    transition-duration: 1s;
  }

  &--active {
    .toggle__indicator {
      background: transparent linear-gradient(133deg, #16b1ff 0%, #0979ff 100%) 0% 0% no-repeat;
      margin-left: 40px;
      border-color: #16b1ff;
    }
  }
}

.text-container {
  margin-left: 20px;

  .text-container__description {
    letter-spacing: 0.28px;
    color: #0F91FA;
    font-weight: bold;
  }

  .text-container__state {
    letter-spacing: 0.2px;
    color: #7E97B8;
    font-weight: bold;
  }
}

.preference-radio {
  display: flex;
  justify-content: flex-start;
}

input[type="text"] {
  background: #FDFEFF 0% 0% no-repeat padding-box;
  border: 1px solid #7E97B84D;
  border-radius: var(--small-border-radius);
  width: 100%;
  padding: 10px;
}

.radio-container {
  --radio-radius: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 40px;

  padding: 5px 5px;

  input {
    opacity: 0;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
  }

  .radio-container__label {
    letter-spacing: 0.25px;
    color: #0F91FA;
    text-transform: capitalize;
    padding-left: 20px;
  }

  .radio-container__overlay {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--radio-radius);
    height: var(--radio-radius);

    background: #E5EDF5 0% 0% no-repeat padding-box;
    box-shadow: 4px 2px 16px #5F9DE77A;
    border: 2px solid #FFFFFF33;
    border-radius: var(--radio-radius);
  }

  input:checked ~ .radio-container__overlay::after {
    --size: 17px;
    content: ' ';
    background: transparent linear-gradient(135deg, #16B1FF 0%, #0979FF 100%) 0% 0% no-repeat padding-box;
    box-shadow: 4px 2px 8px #5F9DE7A8;
    border: 2px solid #FFFFFF4D;
    position: relative;
    width: var(--size);
    height: var(--size);
    border-radius: var(--size);
  }

}

