body {
  --border-radius: 20px;
  --small-border-radius: 12px;
  --background-color: #ebf2fa;

  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background: var(--background-color) 0% 0% no-repeat padding-box;

  display: flex;
  flex-direction: column;

}

tab-content[tab-title="Preferences"] > div {
  display: flex;
}

tab-container {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

input[type="text"] {
  background: #FDFEFF 0% 0% no-repeat padding-box;
  border: 1px solid #7E97B84D;
  border-radius: var(--small-border-radius);
  width: 100%;
  padding: 10px;
}
