.toggle-preference__header {
    display: flex;
    justify-content: flex-start;
}

.toggle-preference .text-container {
    margin-left: 20px;
}

.toggle-preference .text-container__label {
    letter-spacing: 0.28px;
    color: #7E97B8;
    font-weight: bold;
}

.toggle-preference .text-container__label:after {
    display: block;
    content: 'Off';
    letter-spacing: 0.2px;
    color: #7E97B8;
    font-weight: bold;
}

.toggle-preference .toggle--active ~ .text-container .text-container__label {
    color: #0F91FA;
}

.toggle-preference .toggle--active ~ .text-container .text-container__label:after {
    content: 'On';
}

.toggle-preference__content {
    display: flex;
    flex-grow: 2;
    flex-direction: column;
}

/* Forced equidistant spacing between contained elements */
.toggle-preference__content > *:nth-child(n+2):nth-last-child(n+2) {
    padding-bottom: var(--child-v-margin);
}

.toggle-preference__content > *:first-child {
    padding-top: var(--child-v-margin);
    padding-bottom: var(--child-v-margin);
}

.toggle-preference > .info-tooltip {
    position: absolute;
    left: var(--common-margin);
    top: var(--common-margin);
}
