.toggle-preference__header {
    display: flex;
    justify-content: flex-start;
}

.toggle-preference .toggle-container {
    background: #e5edf5 0% 0% no-repeat padding-box;
    box-shadow: 4px 2px 16px #5f9de77a;
    border: 2px solid #ffffff33;
    border-radius: 16px;
}

.toggle-preference .toggle {
    position: relative;
    width: 80px;

    background: #ebf2fa 0% 0% no-repeat padding-box;
    box-shadow: 4px 2px 16px #5f9de77a;
    border: 2px solid #ffffff4d;
    border-radius: var(--small-border-radius);

}

.toggle-preference .toggle-container--active .toggle__indicator {
    background: transparent linear-gradient(133deg, #16b1ff 0%, #0979ff 100%) 0% 0% no-repeat;
    margin-left: 40px;
    border-color: #16b1ff;
}

.toggle-preference .toggle__indicator {
    position: relative;
    width: 32px;
    height: 30px;

    background: #ebf2fa 0% 0% no-repeat;
    box-shadow: 4px 2px 8px #5f9de7a8;
    border: 4px solid #ffffff4d;
    border-radius: var(--small-border-radius);

    /* Animations */
    transition-property: margin-left, background-color;
    transition-duration: 1s;
}

.toggle-preference .text-container {
    margin-left: 20px;
}

.toggle-preference .text-container__label {
    letter-spacing: 0.28px;
    color: #7E97B8;
    font-weight: bold;
}

.toggle-preference .text-container__label:after {
    display: block;
    content: 'Off';
    letter-spacing: 0.2px;
    color: #7E97B8;
    font-weight: bold;
}

.toggle-preference .toggle-container--active ~ .text-container .text-container__label {
    color: #0F91FA;
}

.toggle-preference .toggle-container--active ~ .text-container .text-container__label:after {
    content: 'On';
}

.toggle-preference__content {
    display: flex;
    flex-grow: 2;
    flex-direction: column;
}

.toggle-preference__content > *:first-child {
    margin-top: var(--child-v-margin)
}

.toggle-preference > .info-tooltip {
    position: absolute;
    left: var(--common-margin);
    top: var(--common-margin);
}
